In [20]:
import numpy as np
import pandas as pd

In [21]:
t = np.arange(1,100,2)
m = [i**2 for i in t if i%2 != 0]
m

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401,
 2601,
 2809,
 3025,
 3249,
 3481,
 3721,
 3969,
 4225,
 4489,
 4761,
 5041,
 5329,
 5625,
 5929,
 6241,
 6561,
 6889,
 7225,
 7569,
 7921,
 8281,
 8649,
 9025,
 9409,
 9801]

In [22]:
def findvowel(x):
    t= list('aieou')
    m = [i for i in x if i in t]
    return(m)

findvowel('mudit')

['u', 'i']

In [33]:
bank = pd.read_csv('bank.csv',delimiter=";",header=0)

In [40]:
list(bank)

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'y']

In [41]:
bank['job'].value_counts()

management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: job, dtype: int64

In [43]:
bank[(bank['marital'] == 'married') & (bank['education'] == 'tertiary')]['balance'].mean()

1860.71939477304

In [58]:
bank['education'].value_counts()

secondary    2306
tertiary     1350
primary       678
unknown       187
Name: education, dtype: int64

In [59]:
bank[bank['education'] == 'secondary']['age'].mean()

40.06244579358196

In [60]:
bank[bank['education'] == 'primary']['age'].mean()

46.833333333333336

In [61]:
bank[bank['education'] == 'tertiary']['age'].mean()

39.64592592592592

In [62]:
bank[bank['education'] == 'unknown']['age'].mean()

45.29946524064171